@media (max-width: 1450px) {
    #motto {
        display: none;
    }
}

@media (min-width: 800px) {
    #crestwoodLogo {
        width: auto;
        height: 4vh;
    }
}

@media (max-width: 799px) {
    #crestwoodLogo {
        margin: 3px;
        height: 3.5vh;
        width: auto;
    }
    .nav_icon {
        margin-top: -3px;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    scroll-behavior: smooth;
    font-family: Georgia;
}

body {
    overflow-x: hidden;
}

.paral {
    min-height: 95vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.filter {
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
}

.arrow {
    text-align: center;
    margin: 8% 0;
    position: absolute;
    z-index: 10;
    bottom: -6vw;
}

#NextNavBar:hover {
    font-weight: bolder;
}


/* VIDS */

@media (min-width: 800px) {
    #skip {
        top: 0.4vh;
        font-size: 3em;
        position: relative;
    }
    .vid {
        position: relative;
    }
    .vid>iframe {
        width: 112vw;
        height: 112vh;
        margin-left: -6vw;
    }
    #skipButton {
        background: #002d72;
        border-color: white;
        font-family: 'Montserrat', sans-serif;
        bottom: 0;
        right: 14vw;
        position: absolute;
    }
    #start {
        position: absolute;
        top: 40vh;
        width: 100%;
        font-size: 5em;
        text-align: center;
    }
}

@media (max-width: 799px) {
    #skip {
        top: 0.4vh;
        font-size: 1.5em;
        position: relative;
    }
    .vid {
        top: 25vh;
        position: relative;
    }
    .vid>iframe {
        width: 100vw;
        height: 100vh;
    }
    #skipButton {
        background: #002d72;
        border-color: white;
        font-family: 'Montserrat', sans-serif;
        bottom: 26vh;
        position: absolute;
        right: 0;
    }
    #start {
        position: absolute;
        top: 40vh;
        width: 100%;
        font-size: 2.2em;
        text-align: center;
    }
}